@import "../../../styles/vars";


.sectionBlogCatalog {
    margin-top: 200px;
}

.sectionBlogCatalog__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: $padding__safe;
    box-sizing: content-box;
}

.sectionBlogCatalog__card {
    min-height: 330px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: $border-radius__button;
    padding: 20px;
    box-sizing: content-box;
    transition: ease $transition-duration__hover;
    // border: solid 1px $background-color__dark;
    // align-items: center;
    position: relative;
    margin-bottom: 30px;    
    cursor: pointer;

    // &:before {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     height: 100%;
    //     width: 100%;
    //     z-index: 100;
    //     border-radius: $border-radius__button;
    //     opacity: 0;
    //     transition: ease $transition-duration__hover;

    //     background: linear-gradient(135deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, .1));
    //     backdrop-filter: blur(10px);
    //     -webkit-backdrop-filter: blur(10px);
    // }
    
    h1 {
        font-size: $font-size__title_h1 -   1rem;
        font-weight: $font-weight__title;
    }
    p {
        font-size: $font-size__p;
        font-weight: $font-size__p;
    }
    button {
        align-self: flex-end;
    }
}
@media (pointer: fine) {
    .sectionBlogCatalog__card:hover {
        box-shadow: $box-shadow__main;
        transform: translate(0, -10px);

    }
}

.sectionBlogCatalog__img {
    border-radius: $border-radius__button;
    overflow: hidden;
    height: 200px;
    width: 100%;

}