@import "../../../styles/vars";

.sectionQuestions {
    @extend %padding__section;
}

.sectionQuestions__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @extend %padding__safe;



}

.sectionQuestions__column {
    &:not(:last-child) {
        margin-right: 10px;
    }
    ul {
        // padding: 0 10px;

        
        max-width: 500px;

        li {
            transition: ease $animation-duration__main;
            height: 40px;
        }
        li:nth-child(1) {
            transition: ease $transition-duration__hover;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            box-shadow: $box-shadow__main;
            padding: $padding__menu;
            margin-bottom: 10px;
            border-radius: $border-radius__button;
            h1 {
                @extend %paragraph_p1;
                // font-weight: 500;
                transition: ease $transition-duration__hover;
            }
            div {
                cursor: pointer;
                @extend %paragraph_p1;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: ease $transition-duration__hover;
            }                           
        }
        li:nth-child(2) {
            max-height: 0px;
            overflow: hidden;
            pointer-events: none;

            

            p {
                @extend %paragraph_p2;
            }
        }
      
    }

    ul:not(:last-child) {
        margin-bottom: 10px;
    }

    @media(pointer: fine) {
        ul {

            li:nth-child(1):hover {
                background-color: $background-color__accent;
                div {
                    color: white;
                }
                h1 {
                    color: white;

                // box-shadow: 0 0 0 rgba(0,0,0,0);
                }
            }
        }
    }


    ul._active {
        li:nth-child(2) {
            max-height: 100px;
        }
        div {
            transform: rotate(-180deg);
        }
    }


}

.sectionQuestions__column_1 {

}

.sectionQuestions__column_2 {

}

.sectionQuestions__title {
    @extend %padding__safe;


    h1 {
        @extend %title_h1;
        text-align: right;
        margin-bottom: $margin__text_h1;
    }
}