@import "../../_vars.scss";

.sectionSlider {

}

.sectionSlider__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    padding: $padding__safe;
    box-sizing: content-box;
}

.sectionSlider__slide {
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    div {
        width: 400px;
        height: 400px;
        
    }
    h1 {
        font-size: $font-size__title_h1;
        font-weight: $font-weight__title;
    }
    animation: slideAppear ease $animation-duration__main;

}

.sectionSlider__slide._active {
    display: flex;
}

.sectionSlider__nav {
    display: flex;
    align-items: center;
    width: 500px;
    justify-content: space-between;

    li {
        width: 40px;
        height: 5px;
        // background-color: $background-color__dark;
        border-radius: $border-radius__button;
        border: 1px solid $background-color__dark;
        cursor: pointer;
        list-style: none;
    
    }
    li._active {
        background-color: $background-color__dark;
    }

}


.sectionSlider__arrow {
    font-size: 4rem;  
    cursor: pointer; 
    margin: 0 20px;    
}

@keyframes slideAppear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}