@import "../vars";


.contact {
    color: white;
    position: fixed;
    right: 50px;
    bottom: 50px;
    ul {

    }
    li {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: $background-color__accent;
        font-size: 3rem;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        box-shadow: $box-shadow__main;
        // border: solid 10px rgba(0,0,0,.2);
        a {
            color: inherit;
        }
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            // background-color: red;
            border: solid $background-color__accent 1px;
            animation: circle $animation-duration__main+1s ease infinite;
            pointer-events: none;
        }
    }

    li:not(:last-child) {
        margin-bottom: 15px;
    }
}

@keyframes circle {
    from {
        opacity: 1;
        transform: scale(1, 1);
    }
    to {
        opacity: 0;
        transform: scale(1.5, 1.5);
    }
}

