@import "../../styles/vars";

.SD {
    background-color: rgb(24, 24, 24);
}

.SD__container {
    display: flex;
    justify-content: space-between;
    height: 35px;
    align-items: center;
    p {
        font-size: $font-size__p - .8rem;
        color: white;
    }
    padding: $padding__safe;
    box-sizing: content-box;
}